@import-"../fonts/Berthold-Akzidenz-Grotesk-BE/berthold-akzidenz-grotesk-be.css" akzidenz
@import "../fonts/Computer Modern/Sans/cmun-sans.css" cmun-sans;

* {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  font-stretch: normal;
  box-sizing: content-box;
}

.header {
  padding: 0Apx;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #030303;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #fefefe;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #fefefe;
  color: #030303
}

p, ul, ol{
  line-height:1.8;
  font-size: 18px;
  color: #3e3e3e;
  max-width: 720px;
  margin: auto;
}

body{
    background-color: #fefefe
}

h1{
  font-weight: normal;
  font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}
h2, h3,h4,h5{
  color: black;
  line-height: 1.0;
  font-weight: normal;
  margin: 32px auto;
  max-width: 720px;
}
