@import "fonts/iA-duospace/duospace.css" fonts;


* {
  font-family: 'iA Duospace', serif;
  font-stretch: normal;
  box-sizing: content-box;
  color: #454545;
}

.header {
  padding: 0px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  overflow: hidden;
  background-color: #454545;
  align: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: flex;
  color: #fefefe;
  justify-content: space-around;
  text-align: center;
  position: relative;
  min-width: 90px;
  line-height: 48px;
  min-height: 36px;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #fefefe;
  color: #454545;
}


ul, ol{
  line-height:1.8;
  font-size: 18px;
  max-width: 720px;
  margin: auto;
  margin-top: .75em;
}

p{
  line-height:1.8;
  font-size: 18px;
  max-width: 720px;
  margin: auto;
  margin-bottom: .75em;
  margin-top: .75em;
}

.topnav nav {
  justify-content: center;
  position: relative;
  margin: auto;
}

body{
    background-color: #fefefe
}

h1{
  font-weight: normal;
  font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
    font-style: italic;
}
h2, h3,h4,h5{
  line-height: 1.0;
  font-weight: normal;
  margin: 32px auto;
  max-width: 720px;
}

