/* Global Settings */
* {
  font-family: Helvetica, sans-serif;
  color: #313e50;
}

.header {
  padding: 0px;
  text-align: center;
  color: #313e50;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  overflow: hidden;
  background-color: #313e50;
  align: center;
  justify-content: center;
}

/*.topnav nav {
  justify-content: center;
  position: relative;
  margin: auto;
}
*/
/* Style the topnav links */
.topnav a {
  float: left;
  display: flex;
  color: #fffaf7;
  justify-content: space-around;
  text-align: center;
  position: relative;
  min-width: 82px;
  line-height: 48px;
  min-height: 36px;
  text-decoration: none;
  text-size-adjust: 150%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* Change color of topnav on hover */
.topnav a:hover {
  background-color: #fffaf7;
  color: #cc6600
}

/* Everything else is here */
body,main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
  background-color: #fffaf7;
  font-size: 115%;
}

a {
  color: #cc6600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol{
  line-height:1.8;
  max-width: 42rem;
  margin: auto;
  margin-top: .75em;
}

p,i,b{
  line-height:1.8;
}


