@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('Berthold Akzidenz Grotesk BE Regular.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('Berthold Akzidenz Grotesk BE Bold.otf') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('Berthold Akzidenz Grotesk BE Italic.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

